---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="À propos">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Je suis un développeur web et mobile passionné par la création d'applications performantes et innovantes.
      <br>
      Mes technologies de prédilection :
      <ul class="list-disc list-inside">
        <li role="link">Laravel (PHP)</li>
        <li role="link">Next.js (React)</li>
        <li role="link">Swift (iOS)</li>
        <li role="link">PostgreSQL</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Je me spécialise dans le développement d'applications web modernes avec Laravel et Next.js, 
      ainsi que dans la création d'applications mobiles natives iOS avec Swift. Mon approche 
      full-stack me permet de gérer des projets de bout en bout.
    </p>
    <p class="text-sm font-light">
      En tant que freelance, je m'adapte aux besoins spécifiques de chaque projet, 
      en privilégiant la qualité du code, la performance et l'expérience utilisateur.
    </p>
  </div>
</Card>
