---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon";
import Tooltip from "./Tooltip/index";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-2">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">Bienvenue</h6>
        <p class="m-0 font-light text-xl">
          Bonjour, je suis <b class="font-bold">Jourdan Totonde</b>, un développeur 
          web et mobile spécialisé en Laravel, Next.js et Swift. Je crée des 
          expériences numériques innovantes sur web et mobile.
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="profil github" target="_blank">
          <Button aria-label="profil github">
            <Icon name="ri:github-fill" class="h-6" />
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="profil linkedin" target="_blank">
          <Button aria-label="profil linkedin">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
          </Button>
        </a>
        <a href={LINKS.youtube} aria-label="chaîne youtube" target="_blank">
          <Button aria-label="chaîne youtube">
            <Icon name="ri:youtube-fill" class="h-6" />
          </Button>
        </a>
      </div>
    </div>
    <img
      src="/Memoji.png"
      class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="Memoji de Jourdan"
    />
  </div>
</Card>